<h1>Ask a question, answer a question</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Question Seeker</th>
    <th>Answer</th>
    <th>Contributor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nerds.each do |nerd| %>
  <tr>
    <td><%= nerd.question %></td>
    <td><%= nerd.nameA %></td>
    <% if nerd.answer.nil? %>
      <td><%= link_to "Submit Answer", answer_path %></td>
    <% else %>
      <td><%= nerd.answer %></td>
      <td><%= nerd.nameB %></td>
    <% end %>
    <td><%= link_to 'Show', nerd %></td>
    <td><%= link_to 'Edit', edit_nerd_path %></td>
    <td><%= link_to 'Destroy', nerd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_nerd_path %>
