<p id="notice"><%= notice %></p>

<p>
  <b>Namea:</b>
  <%= @nerd.nameA %>
</p>

<p>
  <b>Question:</b>
  <%= @nerd.question %>
</p>

<p>
  <b>Nameb:</b>
  <%= @nerd.nameB %>
</p>

<p>
  <b>Answer:</b>
  <%= @nerd.answer %>
</p>


<%= link_to 'Edit', edit_nerd_path(@nerd) %> |
<%= link_to 'Back', nerds_path %>
