<p id="notice"><%= notice %></p>
<p>
  <b>Question Seeker:</b>
  <%= @nerd.nameA %>
</p>

<p>
  <b>Question:</b>
  <%= @nerd.question %>
</p>

<%= link_to 'Edit', edit_nerd_path %> |
<%= link_to 'Back', nerds_path %>

<%= link_to "Submit Answer", new_answer_path %>
