<p id="notice"><%= notice %></p>
<p>
  <b>Name B:</b>
  <%= @nerd.nameB %>
</p>

<p>
  <b>Answer:</b>
  <%= @nerd.answer %>
</p>


<%= link_to 'Edit', edit_nerd_path(@nerd) %> |
<%= link_to 'Back', nerds_path %>
